<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.example.WalkingApp</string>
    <key>CFBundleName</key>
    <string>WalkingApp</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundleExecutable</key>
    <string>WalkingApp</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>あなたの現在地と歩いたルートを地図上に表示するために位置情報を使用します。</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>あなたの現在地と歩いたルートを地図上に表示するために位置情報を使用します。</string>
</dict>
</plist>
